USE [master]
GO
CREATE DATABASE [DBEmpresa] ON  PRIMARY 
( NAME = N'DBEmpresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DBEmpresa.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBEmpresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DBEmpresa_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBEmpresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBEmpresa]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cargo](
	[idcargo] [tinyint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Empleado](
	[Cedula] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FNacimiento] [date] NOT NULL,
	[Cargo] [tinyint] NOT NULL
) ON [PRIMARY]

GO
INSERT [Cargo] ([idcargo], [Nombre]) VALUES (1, N'Secretario')
INSERT [Cargo] ([idcargo], [Nombre]) VALUES (2, N'Mantenimiento')
INSERT [Empleado] ([Cedula], [Nombre], [Apellido], [FNacimiento], [Cargo]) VALUES (1232415, N'vadv', N'wfewc', CAST(N'2019-10-19' AS Date), 1)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [SPEmpleado]
	@opc INT,
	@Cedula int = NULL,
	@Nombre VARCHAR(50) = NULL,
	@Apellido VARCHAR(50) = NULL,
	@FNacimiento datetime = null,
	@Cargo tinyint = null
    AS

 if @opc = 1
 BEGIN
	INSERT INTO dbo.Empleado (Cedula, Nombre, Apellido, FNacimiento, Cargo)
	VALUES (@Cedula, @Nombre, @Apellido, @FNacimiento, @Cargo)
 END

 if @opc = 2
 BEGIN
	DELETE FROM dbo.Empleado
	WHERE Cedula = @Cedula
 END

 if @opc = 3
 BEGIN
	SELECT Cedula, Empleado.Nombre as 'Nombre', Apellido, FNacimiento, Cargo.Nombre as 'Cargo' FROM Empleado
	inner join Cargo on Cargo.idcargo = Empleado.Cargo
 END


GO
USE [master]
GO
